In [6]:
import pandas as pd
import seaborn as sns

In [3]:
file = './data/full.csv'

In [4]:
df = pd.read_csv(file, sep=',')

/home/valeporti/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,26,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339002 entries, 0 to 2339001
Data columns (total 40 columns):
id_mutation                     object
date_mutation                   object
numero_disposition              int64
nature_mutation                 object
valeur_fonciere                 float64
adresse_numero                  float64
adresse_suffixe                 object
adresse_nom_voie                object
adresse_code_voie               object
code_postal                     float64
code_commune                    object
nom_commune                     object
code_departement                object
ancien_code_commune             float64
ancien_nom_commune              object
id_parcelle                     object
ancien_id_parcelle              object
numero_volume                   object
lot1_numero                     object
lot1_surface_carrez             float64
lot2_numero                     object
lot2_surface_carrez             float64
lot3_numero                     object
lot3_surface_carrez             float64
lot4_numero                     float64
lot4_surface_carrez             float64
lot5_numero                     object
lot5_surface_carrez             float64
nombre_lots                     int64
code_type_local                 float64
type_local                      object
surface_reelle_bati             float64
nombre_pieces_principales       float64
code_nature_culture             object
nature_culture                  object
code_nature_culture_speciale    object
nature_culture_speciale         object
surface_terrain                 float64
longitude                       float64
latitude                        float64
dtypes: float64(16), int64(2), object(22)
memory usage: 713.8+ MB

In [9]:
df.isnull().sum()

id_mutation                           0
date_mutation                         0
numero_disposition                    0
nature_mutation                       0
valeur_fonciere                   21271
adresse_numero                   982105
adresse_suffixe                 2238664
adresse_nom_voie                  31614
adresse_code_voie                 30734
code_postal                       30814
code_commune                          0
nom_commune                           0
code_departement                      0
ancien_code_commune             2298478
ancien_nom_commune              2298478
id_parcelle                           0
ancien_id_parcelle              2338703
numero_volume                   2332906
lot1_numero                     1628795
lot1_surface_carrez             2134826
lot2_numero                     2193730
lot2_surface_carrez             2290252
lot3_numero                     2315627
lot3_surface_carrez             2334262
lot4_numero                     2330693
lot4_surface_carrez             2337737
lot5_numero                     2335099
lot5_surface_carrez             2338475
nombre_lots                           0
code_type_local                 1125318
type_local                      1125318
surface_reelle_bati             1411455
nombre_pieces_principales       1127166
code_nature_culture              720824
nature_culture                   720824
code_nature_culture_speciale    2232371
nature_culture_speciale         2232371
surface_terrain                  720866
longitude                         84589
latitude                          84589
dtype: int64

In [11]:
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2018-1,2018-01-03,1,Vente,109000.00,13.0,NaN,RUE GEN LOGEROT,1660,1000.0,...,DÃ©pendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.220440,46.200062
1,2018-1,2018-01-03,1,Vente,109000.00,13.0,NaN,RUE GEN LOGEROT,1660,1000.0,...,Appartement,73.0,4.0,NaN,NaN,NaN,NaN,NaN,5.220440,46.200062
2,2018-2,2018-01-04,1,Vente,239300.00,4.0,NaN,RUE DE LA BARMETTE,0025,1250.0,...,Maison,163.0,4.0,S,sols,NaN,NaN,949.0,5.408041,46.255562
3,2018-2,2018-01-04,1,Vente,239300.00,4.0,NaN,RUE DE LA BARMETTE,0025,1250.0,...,Maison,51.0,2.0,AG,terrains d'agrÃ©ment,JARD,Jardin d'agrÃ©ment,420.0,5.408041,46.255562
4,2018-2,2018-01-04,1,Vente,239300.00,4.0,NaN,RUE DE LA BARMETTE,0025,1250.0,...,Maison,51.0,2.0,S,sols,NaN,NaN,949.0,5.408041,46.255562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338997,2018-1020921,2018-12-04,2,Vente,405000.00,38.0,B,RUE VIVIENNE,9893,75002.0,...,Local industriel. commercial ou assimilÃ©,42.0,0.0,NaN,NaN,NaN,NaN,NaN,2.341752,48.870724
2338998,2018-1020922,2018-12-31,1,Vente,185400.00,27.0,NaN,RUE RAMBUTEAU,8009,75004.0,...,Appartement,32.0,2.0,NaN,NaN,NaN,NaN,NaN,2.354168,48.860764
2338999,2018-1020923,2018-12-31,1,Vente,1524.49,9.0,NaN,PL DES VOSGES,9917,75004.0,...,Appartement,20.0,2.0,NaN,NaN,NaN,NaN,NaN,2.363905,48.855173
2339000,2018-1020924,2018-12-27,1,Vente,1800.00,9.0,NaN,PL DES VOSGES,9917,75004.0,...,Appartement,20.0,2.0,NaN,NaN,NaN,NaN,NaN,2.363905,48.855173
2339001,2018-1020925,2018-12-28,1,Vente,405000.00,13.0,NaN,RUE BEAUTREILLIS,0797,75004.0,...,Appartement,34.0,1.0,NaN,NaN,NaN,NaN,NaN,2.363643,48.853106